# gitignore

# ignore folder
Python_Selenium/gitignore
TEST
CODESQUAD_KOKOA/Lecture
# # git ignore apply code
# git rm -r --cached .
# git add .
# git commit -m "Apply .gitignore"
# git push
Python_telegram/token.py
CODESQUAD_KOKOA/Algorithm/Day1/node_modules/
CODESQUAD_KOKOA/Algorithm/Day1/package-lock.json
CODESQUAD_KOKOA/DailyMission/Day4/node_modules/
CODESQUAD_KOKOA/DailyMission/Day4/package-lock.json
CODESQUAD_KOKOA/DailyMission/Day7/friends/
temp/
CODESQUAD_MASTER/myapp/node_modules/*
CODESQUAD_MASTER/node_modules/*
CODESQUAD_MASTER/shoppinghow/node_modules/*
CODESQUAD_MASTER/WEEK4/martin/node_modules/
react_movie/movie_app/node_modules/*
SPA2/node_modules/
SPA2/dist/
webpack_test/node_modules/
.DS_Store
VUE_STUDY/Week1/node_modules/
