# gitignore

# ignore folder
Python_Selenium/gitignore
TEST
CODESQUAD_KOKOA/Lecture
# # git ignore apply code
# git rm -r --cached .
# git add .
# git commit -m "Apply .gitignore"
# git push
Python_telegram/token.py
CODESQUAD_KOKOA/Algorithm/Day1/node_modules/
CODESQUAD_KOKOA/Algorithm/Day1/package-lock.json
CODESQUAD_KOKOA/DailyMission/Day4/node_modules/