* {
    padding: 0;
    margin: 0 auto;
    text-align: center;
    height: 100%;
}

header {
    margin: 1rem;
    text-align: center;
    font-size: 4rem;
    height: auto;
}


.vallege-map
{
    display: inline-flex;
    flex-direction: column;
    width:70%;
    background-color: aliceblue;
    border-style: solid;
    height: 80%;
}
#vallege-map-header{
    font-size: 2rem;
    font-weight: bold;
    height: auto;
    width: 100%;
}
#vallege-map-canvas{
    border-style: solid;
    border-color: gray;
    font-size: 2rem;
    /* height: 90%; */
    align-items: stretch;
    width: 100%;
}

.info
{   
    display: inline-flex;
    flex-direction: column;
    width:15%;
    height: 80%;
    font-size: 1.5rem;
    margin-left: 1rem;
}

#mainBtn{
    width:100%;
    margin: 0 auto;
    padding: 20px; 
    height: auto;
}
#vallege-check {
    /* border-style: solid; */
    width:100%;
    margin-top: 30%;
}
#mailbox-size {
    /* border-style: solid; */
    width:100%;
}