<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>

<body>
    <div class="wrapper" style="width:<%= locals.randomWidth %>;background-color:<%= locals.randomColor %>">
        <div class="intro_header">
            <h1>자기소개서 - zel0rd</h1>
        </div>
        <div class="intro_contents">
            <p>안녕하세요. 반갑습니다.</p>
            <p>코딩은 왜 이렇게 어려울까요?ㅠㅠ</p>
            <p>화이팅!!</p>
        </div>
    </div>
</body>

</html>